@font-face {
  font-family: 'Roboto';
  src: url('../static_assets/robotocondensed-bold-webfont.woff2') format('woff2'),
       url('../static_assets/robotocondensed-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$breakScreen: 1025px;
$breakScreenMin: 1024px;
$instructionBreak: 768px;

// Common
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
}

// 'Enter VR' / 'Exit VR' button (mobile only)
div > div > a:first-child {
  @media (min-width: $breakScreen) {
    display: none !important;
  }

  @media (max-width: $breakScreenMin) {
    right: 3px;
    left: auto !important;
    bottom: 13px;
    transform: scale(0.75);
  }
}

// hide default 'Full screen' button
a[title='Full Screen'] {
  display: none !important;
}

// Preloader
.page-preloader {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;

  img {
    height: 120px;
    width: 120px;
  }
}

// Instructions
.instruction {
  position: fixed;
  z-index: 8;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;

  @media (min-width: $instructionBreak) {
    display: none;
  }

  &__animation {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0) scale(0.5);
    margin-top: -23px;
  }

  &__text {
    position: absolute;

    left: 50%;
    top: 50%;

    margin-top: 33px;

    transform: translate3d(-50%, -50%, 0);

    max-width: 290px;

    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    color: white;

    &-part {
      display: inline-block;
    }
  }
}

// Overlay
.interface2D {
  &__logo {
    position: fixed;
    z-index: 5;
    top: 40px;
    left: 70px;
    width: 150px;

    svg {
      fill: white;
    }
  }

  &__label {
    position: fixed;
    z-index: 5;
    left: 70px;
    bottom: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;

    > div {
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__label,
  &__logo {
    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__menu {
    display: none;
  }

  &__fullScreen {
    .cls-1,.cls-2{fill:none;stroke:white;stroke-miterlimit:10;}.cls-2{stroke-width:2px;}

    position: fixed;
    z-index: 5;
    cursor: pointer;
    pointer-events: initial;
    right: 18px;
    bottom: 20px;
    width: 42px;
    height: 42px;

    @media (max-width: $breakScreenMin) {
      display: none;
    }
  }

  &__goBack {
    position: fixed;
    z-index: 5;
    right: 55px;
    top: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px;
    cursor: pointer;
    text-decoration: none;

    @media (max-width: $breakScreenMin) {
      padding: 20px;
      right: 0;
      top: 0;
    }
  }
}
